
.scroller {
  width: 20vw;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.card{
  width: auto;
  margin: 5px;
  // margin: 5px;
  // margin-right: 20px;
  // padding-right: 50px;
  // border-radius: 10px;
  // background-color: orange;
  // justify-content: center;
  // margin: 1px;
  // white-space: nowrap;
  // overflow: hidden;

}

