#home{
  height: 80vh;
  // margin-top: 5vh;
  // width: m;

  // height: 100vh;

  // min-height: calc(100vh - 80px - 60px);
  background-image: url("../../../../../assets/images/Inicio.png") ;
  // background-image: fixed;
  background-position: 10vh;
  background-image: center;
  background-repeat: no-repeat;
  background-size:  90% ;
}
